@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@400;500;600;700;800;900&family=MuseoModerno:wght@200;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "poppins", "sans-serif";
  overflow-x: hidden;
  background-color: rgba(241, 245, 249, 0.904);
}

.dark body {
  background-color: rgb(30 41 59);
}


.pl {
  display: block;
  width: 4em;
  height: 4em;
}

.pl__ring,
.pl__ball {
  animation: ring 1.5s ease-out infinite;
}

.pl__ball {
  animation-name: ball;
}



/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }

  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }

  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}

@keyframes ball {

  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }

  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }

  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }

  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }

  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}


a.link {
  color: red;
}

.image {
  background-image: url('../public/watch-2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
